# Ignoruj zależności frontendu
/client/node_modules

# Ignoruj logi i pliki tymczasowe frontendu
/client/build
/client/.pnp
/client/.pnp.js
/client/coverage

# Ignoruj zależności i środowisko wirtualne backendu
/server/venv
/server/__pycache__/

# Inne pliki systemowe
.DS_Store