.session-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background: transparent;
    pointer-events: none;

    // Allow interaction with the animation and control panels
    .breathing-container,
    .session-screen__panel-wrapper {
      pointer-events: auto;
    }
  
    // Wrapper for panel, to ensure it doesn't conflict
    &__panel-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }