@import '../styles/variables';

.home-screen {
  &__title {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    border-bottom: 1px solid $secondary-color;
    &:first-child {
      border-top: 1px solid $secondary-color;
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10px;
      text-decoration: none;
      color: $text-color;
      transition: background-color 0.2s;

      &:hover {
        background-color: $light-background-color;
      }
    }
  }
}

.item-content {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-size: 18px;
  font-weight: 500;
}

.item-subtitle {
  font-size: 14px;
  color: darken($text-color, 30%);
  margin-top: 4px;
}

.item-arrow {
  font-size: 20px;
  color: $secondary-color;
}