@import '../styles/variables';

@keyframes inhale-exhale {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

.breathing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.breathing-circle {
  width: 200px;
  height: 200px;
  background-color: $primary-color;
  border-radius: 50%;
  animation: inhale-exhale 8s ease-in-out infinite;
  box-shadow: 0 0 40px rgba($primary-color, 0.7);
}

.breathing-text {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: 300;
}